
        body {
            background-image:url("blue_bubble_waves.jpg");
            background-repeat:no-repeat ;
            background-size:cover;
            display:flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            font-family: Arial, sans-serif; 
            
        }

        .calculator {
            background-image: url("bluestone1.jpg");
             background-repeat:no-repeat ;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 10px 20px 30px rgb(1, 1, 1);
            width: 300px; 
            border: 3px solid rgb(56, 176, 228);
        }

        #display {
            width: 100%;
            height: 60px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            padding: 10px;
            font-size: 2em;
            text-align: right;
            background-color: #f7f7f7;
            box-sizing: border-box; 
        }

        .buttons {
            display: grid;
            grid-template-columns: repeat(4, 1fr); 
            gap: 10px;
        }

        .buttons input[type="button"] {
            width: 100%;
            height: 60px;
            border: none;
            border-radius: 5px;
            font-size: 1.5em;
            cursor: pointer;
            background-color: #505050;
            color: white;
            transition: background-color 0.2s;
        }

        .buttons input[type="button"]:hover {
            background-color: #686868;
        }

        .operator {
            background-color: #00b3ff !important;
        }

        .operator:hover {
            background-color: #08ea84 !important;
        }

        .clear {
            grid-column: span 1;
            background-color: #fac108 !important;
            color: black !important;
        }

   ul{
    display:flex;
    font-size:20px;
    font-weight: bold;
    color:#f7f7f7;
    background-color: #505050;
    border-radius: 25px;
    margin-right: 15px;
    height: 25vh;
    width: 26vh;
 
   
   }